@model IEnumerable<WebApplication1.Models.Menu>

@{
    ViewData["Title"] = "메뉴 관리";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"]
    </div>
}

<p class="text-end">
    <a asp-action="Create" class="btn btn-primary">새 메뉴 추가</a>
    <!-- <a asp-action="Create" asp-route-parentId="0" class="btn btn-secondary">1단계 메뉴 추가</a> -->
</p>

@if (Model != null && Model.Any())
{
    <div class="table-responsive">
        <table class="board-tabl">
            <colgroup>
                <col width="15%"/>
                <col width="20%"/>
                <col width="20%"/>
                <col width="10x"/>
                <col width="20%"/>
            </colgroup>

            <thead class="table-light">
                <tr>
                    <th>이름</th>
                    <th>링크</th>
                    <th>순서</th>
                    <th>상태</th>
                    <th>작업</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var menu in Model)
                {
                    @await Html.PartialAsync("_MenuRow", menu)
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p class="text-muted">메뉴가 없습니다.</p>
}

@section Scripts {
    <script>

        var depth1Menus = document.querySelectorAll('[data-level]:not([data-level="1"])');
        depth1Menus.forEach( menu => menu.style.display = 'none' );

        //  중복코드 제거 해야됨!!!!!
        // 트리 구조 접기/펼치기
        function toggleChildren(othis, menuId) {

            let icontag = othis.firstElementChild.classList;

            if(othis.firstElementChild.classList.contains("show")){
                othis.firstElementChild.classList.remove("show");

                var children = document.querySelectorAll(`[data-parent-id="${menuId}"]`);                
                children.forEach( (child) => 
                    child.style.display = child.style.display === 'none' ? '' : 'none'
                );

            }else{

                othis.firstElementChild.classList.add("show");
                var children = document.querySelectorAll(`[data-parent-id="${menuId}"]`);                
                children.forEach( (child) => 
                    child.style.display = child.style.display === 'none' ? '' : 'none'
                );
                
            }

            
        }
    </script>
}

