@model WebApplication1.Models.Post

@{
    ViewData["Title"] = "요청사항";
}

<p class="display-8 mb-4">요청사항</p>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">제목</dt>
        <dd class="col-sm-10">@Model.Title</dd>
        
        <dt class="col-sm-2">내용</dt>
        <dd class="col-sm-10">@Model.Content</dd>
        
        <dt class="col-sm-2">작성일</dt>
        <dd class="col-sm-10">@Model.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</dd>
    </dl>
</div>
<div class="text-end">
    <a asp-action="Index" class="btn btn-secondary">목록으로</a>
</div>
