/* Import Bootstrap's CSS */
@import '~bootstrap/dist/css/bootstrap.css';
/* Import Bootstrap-icons CSS */
@import '~bootstrap-icons/font/bootstrap-icons.css';


/* You can add your own custom CSS here */
