/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-bddmc6yalx] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* a {
  color: #0077cc;
} */

.btn-primary[b-bddmc6yalx] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-bddmc6yalx], .nav-pills .show > .nav-link[b-bddmc6yalx] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-bddmc6yalx] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-bddmc6yalx] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-bddmc6yalx] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-bddmc6yalx] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-bddmc6yalx] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.b-example-divider[b-bddmc6yalx] {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi[b-bddmc6yalx] {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle[b-bddmc6yalx] { outline: 0; }

.nav-flush .nav-link[b-bddmc6yalx] {
  border-radius: 0;
}

.btn-toggle[b-bddmc6yalx] {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover[b-bddmc6yalx],
.btn-toggle:focus[b-bddmc6yalx] {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle[b-bddmc6yalx]::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"][b-bddmc6yalx] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"][b-bddmc6yalx]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a[b-bddmc6yalx] {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover[b-bddmc6yalx],
.btn-toggle-nav a:focus[b-bddmc6yalx] {
  background-color: #d2f4ea;
}

.scrollarea[b-bddmc6yalx] {
  overflow-y: auto;
}

.fw-semibold[b-bddmc6yalx] { font-weight: 600; }
.lh-tight[b-bddmc6yalx] { line-height: 1.25; }
