@model CSR.Models.User

@{
    ViewData["Title"] = "사용자 추가";
}

<h1>사용자 추가</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <table class="table-layout">
                <tr>
                    <td><label asp-for="UserId" class="control-label">사용자 ID *</label></td>
                    <td>
                        <input asp-for="UserId" class="form-control" />
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>                    
                </tr>
                    <td><label asp-for="UserPwd" class="control-label">비밀번호 *</label></td>
                    <td>
                        <input asp-for="UserPwd" class="form-control" type="password" />
                        <span asp-validation-for="UserPwd" class="text-danger"></span>
                    </td>
                    <td><label class="control-label">비밀번호 확인 *</label></td>
                    <td>
                        <input id="UserPwdCheck" class="form-control" type="password" />
                        <span class="text-danger"></span>
                    </td>
                    
                </tr>
                <tr>
                    <td><label asp-for="EmpNo" class="control-label">사원 번호</label></td>
                    <td> 
                        <input asp-for="EmpNo" class="form-control" />
                        <span asp-validation-for="EmpNo" class="text-danger"></span>
                    </td>
                    <td><label asp-for="UserName" class="control-label">이름 *</label></td>
                    <td>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </td>

                    <td><label asp-for="SysCd" class="control-label">시스템 코드</label></td>
                    <td>
                        <input asp-for="SysCd" class="form-control" />
                        <span asp-validation-for="SysCd" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="CorCd" class="control-label">법인 코드</label></td>
                    <td>
                        <input asp-for="CorCd" class="form-control" />
                        <span asp-validation-for="CorCd" class="text-danger"></span>
                                                
                    </td>
                    <td><label asp-for="DeptCd" class="control-label">사업부 코드</label></td>
                    <td>
                        <input asp-for="DeptCd" class="form-control" />
                        <span asp-validation-for="DeptCd" class="text-danger"></span>
                    </td>
                    <td><label asp-for="OfficeCd" class="control-label">실 코드</label></td>
                    <td>
                        <input asp-for="OfficeCd" class="form-control" />
                        <span asp-validation-for="OfficeCd" class="text-danger"></span>
                    </td>
                    <td><label asp-for="TeamCd" class="control-label">팀 코드</label></td>
                    <td>
                        <input asp-for="TeamCd" class="form-control" />
                        <span asp-validation-for="TeamCd" class="text-danger"></span>
                    </td>
                    <td>
                        <button>조직도 검색</button>
                    </td>

                </tr>
                <tr>
                    <td><label asp-for="TelNo" class="control-label">전화 번호</label></td>
                    <td>
                        <input asp-for="TelNo" class="form-control" />
                        <span asp-validation-for="TelNo" class="text-danger"></span>
                    </td>
                    <td><label asp-for="MobPhoneNo" class="control-label">휴대폰 번호</label></td>
                    <td>
                        <input asp-for="MobPhoneNo" class="form-control" />
                        <span asp-validation-for="MobPhoneNo" class="text-danger"></span>
                    </td>
                    <td><label asp-for="EmailAddr" class="control-label">전자메일 주소</label></td>
                    <td>
                        <input asp-for="EmailAddr" class="form-control" type="email" />
                        <span asp-validation-for="EmailAddr" class="text-danger"></span>
                    </td>
                    <td><label asp-for="RetireDate" class="control-label">퇴사일 (YYYYMMDD)</label></td>
                    <td>
                        <input asp-for="RetireDate" class="form-control" />
                        <span asp-validation-for="RetireDate" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    

                    <td><label asp-for="AdminFlag" class="control-label">관리자 권한</label></td>
                    <td>
                        <div class="form-check">
                            <input asp-for="AdminFlag" class="form-check-input" type="checkbox" />
                        </div>
                        <span asp-validation-for="AdminFlag" class="text-danger"></span>
                    </td>
                    <td><label asp-for="UserDiv" class="control-label">사용자 구분</label></td>
                    <td>
                        <input asp-for="UserDiv" class="form-control" />
                        <span asp-validation-for="UserDiv" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="BizCd" class="control-label">사업장 코드</label></td>
                    <td>
                        <input asp-for="BizCd" class="form-control" />
                        <span asp-validation-for="BizCd" class="text-danger"></span>
                    </td>
                    <td><label asp-for="CustCd" class="control-label">고객사 코드</label></td>
                    <td>
                        <input asp-for="CustCd" class="form-control" />
                        <span asp-validation-for="CustCd" class="text-danger"></span>
                    </td>
                    <td><label asp-for="VendCd" class="control-label">협력사 코드</label></td>
                    <td>
                        <input asp-for="VendCd" class="form-control" />
                        <span asp-validation-for="VendCd" class="text-danger"></span>
                    </td>
                    
                    <td></td>
                    <td></td>
                </tr>
            </table>

            <div class="button-area">
                <input type="submit" value="생성" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">목록으로</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
