

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   CSS 초기화
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
  CSS 초기화
*/

html {
  font-size: 80%; /* 전체 폰트 사이즈 조절 */
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-custom {
    background-color: #343a40 !important; /* Corresponds to Bootstrap's bg-dark */
}

.nav-link-custom {
    color: rgba(255, 255, 255, 0.75) !important; /* A slightly off-white for nav links on a dark background */
}

.nav-link-custom:hover {
    color: #fff !important;
}

.navbar-logo {
    height: 30px;
    margin-right: 10px;
}

#wrapper {
    display: flex;
}

#sidebar-wrapper {
    min-height: 88vh;
    width: 250px;
    background-color: #f8f9fa; /* A light grey background */
    border-right: 1px solid #dee2e6;
}

#sidebar-wrapper .nav-link {
    color: #333;
    padding: 1rem;
}

#sidebar-wrapper .nav-link.active {
    font-weight: bold;
    color: #0d6efd;
}

#page-content-wrapper {
    width: 100%;
}

.dept1-btn.show::before {
  content: "\F2E9";
  font-style: normal;
  font-family: "bootstrap-icons";
  color: #333;
  font-size: 15px;
}

.dept1-btn::before {
  content: "\F4FD";
  font-style: normal;
  font-family: "bootstrap-icons";
  color: #333;
  font-size: 15px;
}

.search-btn::after{
  content: "\F52A";
  font-style: normal;
  font-family: "bootstrap-icons";
  margin: 4px;
}

.search-area{
  margin-bottom: 1rem;
}

.search-body{
  margin-top: 1rem;
  margin-right: 2rem;
}

.vertical-line{
  border-left: thin solid rgb(168, 168, 168); 
  height:auto;
  min-height: 80vh;
}

.control-label{
  margin-bottom: 5px;
}


.notice-content{
  min-height: 50vh;
}
 
/* .dx-fileuploader-input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
 
/* .dx-fileuploader-input-container {
    text-align: center;
} */
 
/* #file-uploader .dx-fileuploader-wrapper {
    overflow-y: auto;
} */

.note {
  font-size: 10pt;
  color: #484848;
  margin-left: 9px;
}

.note > span {
  font-weight: 700;
}

/* .file-uploader-block{
  background-color: #f5f5f5;
  border-radius: 16px;
} */

/* #file-uploader {
  height: 100%;
} */

/* .dx-fileuploader-content {  
  height: 100%;
  position: relative;
} */

/* .dx-fileuploader-input-wrapper {
  margin:12px;
  width: 100%;
  height: 15vh;
  place-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  vertical-align: middle;
} */


/* dxFileUploader 자체의 드롭 영역을 스타일링합니다. */
#file-uploader .dx-fileuploader-input-wrapper {
  min-height: 150px; /* 드롭 영역의 최소 높이를 늘립니다. */
  border: 2px dashed #ccc;
  padding: 20px;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.dx-fileuploader-input {
  height:15vh;
}