@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}
<partial name="_PageTitlePartial" />

<p>Use this page to detail your site's privacy policy.</p>
